{#---------------------------------#}
{# templates/confirmMessage.html.twig #}
{#---------------------------------#}

{% extends '_base.html.twig' %}

{% block title %}sent messages page{% endblock %}

{% block main %}
<h2>Thank you for your message</h2>

    <p>
        posted by <strong>{{ message.user }}</strong>
        <br>
        {{ message.timestamp|date("l jS M h:i:s A")  }}
    </p>

    <blockquote>
        {{ message.text }}
    </blockquote>

{% endblock %}
