{#-----------------------------#}
{# templates/message.html.twig #}
{#-----------------------------#}

{% extends '_base.html.twig' %}

{% block main %}

<h1>whoops - something went wrong</h1>
<p>
    <?= $message ?>
</p>

{% endblock %}
